.user-date-container {
    margin-bottom: 1%;
}

.username {
    font-weight: 600;
    margin-right: 1%;
}


.comment-date {
    font-size: 0.8rem;
}


.comment-body {
    font-style: italic;
    margin-bottom: 3vh;
}

.divider {
    background-color: rgba(0, 0, 0, 0.42);
    margin: 4vh 0;
}