<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label class="form-group">
    <input
      (click)="toggle()"
      type="text"
      placeholder="Title"
      class="form-control"
      formControlName="title"
    />
  </label>

  <div *ngIf="show">
    <br />
    <label class="form-group">
      <input
        type="text"
        placeholder="What's this article about?"
        class="form-control"
        formControlName="description"
      />
    </label>
    <br />
    <label class="form-group">
      <textarea
        placeholder="Text (optional)"
        class="form-control"
        formControlName="body"
        rows="10"
        cols="90"
      ></textarea>
    </label>
    <button (click)="onCancel()">Cancel</button>
    <button type="submit">Post</button>
  </div>
</form>
